@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BirthdayApp</h1>
    <p class="lead">Welcome in BirthdayApp</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Text2</h2>
        <p>
            Context
        </p>
    </div>
    <div class="col-md-4">
        <h2>Text</h2>
        <p>Context</p>
   </div>
    <div class="col-md-4">
        <h2>Text</h2>
        <p>Context</p>
    </div>

</div>